@font-face {
    font-family: 'cursive';
    src: url(fonts/Precious.ttf);
}

@font-face {
	font-family: 'raleway';
	src: url(fonts/Raleway-Regular.ttf);
}

img {
	width:100px;
	height:100px;
	padding-top:30px;
}


.container {
	width:816px;
	height:1056px;
	background-color:#DEB887;
	padding:50px;
	overflow:hidden;
}

.soup_container {
	width:100%;
	height:auto;
}

.front_title {
	font-family: 'Tangerine', 'Cedarville Cursive', cursive;
	font-size: 120pt;
	text-align:center;
	font-weight:bold;
	padding-top:150px;
	color:black;
}

.front_subtitle {
	font-family: 'Tangerine', 'Cedarville Cursive', cursive;
	font-size: 40pt;
	font-weight:bold;
	text-align:center;
	color:black;
}

.front_footer {
	font-size:17pt;
	width:100%;
	font-family: 'raleway';
	text-align:center;
}

.section_title {
	font-family: 'Tangerine', 'Cedarville Cursive', cursive;
	font-size:45pt;
	text-align:center;
	font-weight:bold;
	color:black;
}

.appetizer_container {
	height:60%;
	width:100%;
}
.half_container {
	height:auto;
	width:100%;
}

.beverage_container {
	height:20%;
}

.half {
	overflow:hidden;
	width:48%;
	padding-left:1%;
	padding-right:1%;
	height:auto;
	float:left;
}

.aster {
	font-family: 'raleway';
	font-size:13pt;
	text-align:center;
	font-style:italic;
	color:black;
}
.item_title {
	font-family: 'raleway';
	font-size:18pt;
	text-align:center;
	font-weight:bold;
	color:black;
}

.item_desc {
	font-family: 'raleway';
	font-size:16pt;
	text-align:left;
	padding-left:25px;
	color:black;
}